<div class="bread-crumb">
    <button mat-icon-button [routerLink]="['/dashboard']">
        <mat-icon>
            arrow_back</mat-icon>
    </button>
    <span class="" [routerLink]="['/dashboard']">Dashboard</span>
    <span class="active">User dashboard</span>

</div>

<div class="main-content-wrapper">
    <h2>Active users right now</h2>
    <div class="row">
        <div class="active-device aurn" *ngFor="let item of active_users">
            <h3>
                <!-- <mat-icon>account_circle</mat-icon> -->
                <span>{{item.user_id}}</span>
                <!-- <img src="assets/lang-{{item.lang}}.png" alt="">  -->
            </h3>

            <div class="active-device-detail column">
                <!-- <h3>locker number</h3> -->
                <span *ngIf="item.title">
                    {{item.title}}
                </span>

                <span *ngIf="!item.title" class="msg">Have not opened any locker yet.</span>

                <!-- <h3>registered at</h3> -->
              

                <!-- <h3>size</h3> -->
                <span>
                    {{item.locker_size}}
                </span>

                <span>
                    {{item.timestamp | datePipe}}
                </span>
            </div>

        </div>
    </div>

    <h2>Today report</h2>

    <div class="row">
        <div class="active-device ubls">
            <h3>
                <mat-icon>trending_up</mat-icon>    
                Sale</h3>

            <div class="active-device-detail" >
                <mat-spinner *ngIf="!sell_by_size" strokeWidth="3.8" diameter='40'></mat-spinner>
                <ng-container *ngIf="sell_by_size">

                    <div class="locker-size" *ngFor="let item of sell_by_size">
                        <span>{{item.locker_size}}</span>
                        <span>{{item.count}}</span>
                    </div>

                </ng-container>

            </div>

        </div>

        <div class="active-device ubls">
            <h3>
                <mat-icon>transit_enterexit</mat-icon>    
                Checkout</h3>

            <div class="active-device-detail">
                <mat-spinner *ngIf="!checkout_by_size" strokeWidth="3.8" diameter='40'></mat-spinner>
                <ng-container *ngIf="checkout_by_size">

                    <div class="locker-size" *ngFor="let item of checkout_by_size">
                        <span>{{item.locker_size}}</span>
                        <span>{{item.count}}</span>
                    </div>

                </ng-container>

            </div>
           
        </div>
    </div>

    <h2>User report</h2>

    <div class="row">
        <div class="active-device graph">
            <h3>
                <mat-icon>bar_chart</mat-icon>
                Number of users report

                <span class="fill"></span>

                <button mat-raised-button (click)="export()">
                    <mat-icon>cloud_download</mat-icon>
                    export
                </button>
            </h3>

            <div class="active-device-detail">
                <google-chart type="ColumnChart" [data]="user_report_data" *ngIf="user_report_data && user_report_data.length > 0" [options]="options"
                    [columnNames]="columnNames">
                </google-chart>
            </div>

            <div class="active-device-action">
                <button mat-button [matMenuTriggerFor]="menu3">{{user_report_active_filter.text}} <mat-icon>
                        arrow_drop_down
                    </mat-icon></button>
                <mat-menu #menu3="matMenu">
                    <button mat-menu-item *ngFor="let item of user_report_filter_options"
                        (click)="getUserReport(item)">{{item.text}}</button>
                </mat-menu>
            </div>

        </div>
    </div>

</div>