.dialog-title {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 800;
    min-width: 250px;
}
.dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    min-width: 600px;
    flex-direction: column;

    .timeout {
        margin-top: 50px;
        font-size: 1.5em;
        // font-weight: bold;
        color: #9E9E9E;
        width: 400px;
        text-align: center;

        .data {
            font-size: 1em;
        }
    }
    
}
button {
    outline: none !important;
    color: #2893e6 !important;

    &.disabled {
        color: #9E9E9E !important;
    }
}
.dialog-actions {
    margin-top: 30px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.mat-form-field {
    width: 100%;
}
strong {
    color: black;
}

.data {
    font-size: 1.5em;
    color: #888;
    min-width: 400px;
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    border-radius: 15px;
    span {
        padding: 37px 30px;
        white-space: nowrap;
        display: inline-block;
    }
}
