<app-site-bar></app-site-bar>
<div class="bread-crumb">
    <button mat-icon-button [routerLink]="['/home']">
        <mat-icon>
            arrow_back</mat-icon>
    </button>
    <span class="active" >Home</span>
</div>
<div class="content-wrapper">
    <div class="menu">
        <span>
            Sell
            <button mat-icon-button  (click)="sellOnclick()">
                <mat-icon>add</mat-icon>
            </button>
        </span>
        <span>
            Checkout
            <button mat-icon-button (click)="checkoutOnClick()">
                <mat-icon>create</mat-icon>
            </button>
        </span>
        <span>
            Change locker
            <button mat-icon-button (click)="changeOnClick()">
                <mat-icon>create</mat-icon>
            </button>
        </span>
    </div>
</div>

<div class="footer">

</div>

