.content-wrapper {
    height: calc(100% - 80px);
    display: flex;
    // justify-content: center;
    // align-items: center;
    padding-top: 135px;
    padding-left: 50px;
    .menu {
        margin-bottom: 80px;
        z-index: 2;
        span {
            padding: 20px;
            margin: 10px;
            font-size: 1.7em;
            border-radius: 30px;
            min-width: 300px;
            display: inline-block;
            // text-align: center;
            color: black;
            font-weight: bold;
            background-image: linear-gradient(to bottom right, #007cff, #b9e8ff);
            // box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
            // box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
            min-height: 200px;
            background-color: white;
            background-image: url(../../../assets/19982.png);
            background-size: cover;
            /* background-position: -105px; */
            background-position-y: 120px;
            background-repeat: no-repeat;
            z-index: 2;

            position: relative;

            button {
                // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
                // box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.6), 0 6px 10px 0 rgba(0, 0, 0, 0.38), 0 1px 18px 0 rgba(0, 0, 0, 0);
                position: absolute;
                bottom: 15px;
                right: 15px;
                background-color: white;
                width: 4em;
                height: 4em;
                // color: #007cff;

                .mat-icon {
                    font-size: 2em;
                    width: 1em;
                    height: 1em;
                }
            }
        }
    }
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 65%;

    background-image: url(../../../assets/19982.png);
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: top;
}