<div class="bread-crumb">
    <button mat-icon-button [routerLink]="['/dashboard']"> <mat-icon>
        arrow_back</mat-icon>
    </button>
    <span class="" [routerLink]="['/dashboard']" >Dashboard</span>
    <span class="active">Locker dashboard</span>

</div>

<div class="main-content-wrapper">

    <h2>Active lockers right now</h2>

    <div class="row">
        <div class="active-device auln" *ngFor="let item of active_lockers">
            <h3>
                <mat-icon>
                    apartment
                </mat-icon>
                {{item.title}}

                <span class="fill-space"></span>

                <span class="option">
                    {{item.locker_size}}
                </span>
            </h3>

            <div class="active-device-detail">
                <span [class.green]="item.status == 1">
                    <ng-container *ngIf="item.status == 0; else open;">
                        close
                    </ng-container>
                    <ng-template #open>
                        opening
                    </ng-template>
                </span>

                <!-- <span *ngIf="!item.title" class="msg">Have not opened any locker yet.</span> -->

                <span>
                    being used by {{item.user_id}}
                </span>

            </div>

            <div class="device-options">

            </div>

        </div>
    </div>

    <h2>Lockers</h2>


    <div class="table-wrapper" >
        <button mat-raised-button class="add-btn" [routerLink]="['/','dashboard','add-locker']" routerLinkActive="router-link-active" >
            <mat-icon>add_location</mat-icon>
            ADD LOCKER
        </button>
        <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef> Zone </th>
                <td mat-cell *matCellDef="let element"> {{element.zone_title}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef> Size </th>
                <td mat-cell *matCellDef="let element"> {{element.locker_size}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef> Open </th>
                <td mat-cell *matCellDef="let element"> 
                    <ng-container *ngIf="element.status == 1 && element.can_use == 1">
                        <span class="open">opening</span>
                    </ng-container>
                    <ng-container *ngIf="element.status == 0 && element.can_use == 1">
                        <span>close</span>
                    </ng-container>
                    <ng-container *ngIf="element.can_use == 0">
                        <span >disabled</span>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> 
                    <ng-container *ngIf="element.active == 1 && element.can_use == 1">
                        <span class="using">being used</span> 
                    </ng-container>
                    <ng-container *ngIf="element.active == 0 && element.can_use == 1">
                        <span class="active-status">ready to use</span>
                    </ng-container>    
                    <ng-container *ngIf="element.can_use == 0">
                        <span >disabled</span>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef> Availability </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.can_use == 1">
                        <span >available</span>
                    </ng-container>
                    <ng-container *ngIf="element.can_use == 0">
                        <span>disabled</span>
                    </ng-container>    
                </td>
            </ng-container>

            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.can_use == 1">
                        <button mat-raised-button (click)="disableLocker(element)"> <mat-icon>pause_circle_outline</mat-icon> disable</button>
                    </ng-container>
                    <ng-container *ngIf="element.can_use == 0">
                        <button mat-raised-button (click)="enableLocker(element)" > <mat-icon>play_circle_outline</mat-icon> enable</button>
                    </ng-container>    

                    <button mat-raised-button [routerLink]="['/dashboard','locker',element.id]" routerLinkActive="router-link-active" > <mat-icon>timeline</mat-icon> view logs</button>
                    <button (click)="removeLocker(element)" class="c-red" mat-raised-button  > <mat-icon>remove_circle</mat-icon> delete</button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[20, 50]" showFirstLastButtons></mat-paginator>
    </div>
</div>