.wrapper {
    height: 100vh;
    position: relative;
    background: #007CFF;
    // background : linear-gradient(0deg, rgba(255, 255, 255, 1) 47.63%, rgba(251, 254, 255, 1) 57.07%, rgba(238, 250, 255, 1) 66.83%, rgba(218, 243, 255, 1) 76.73%, rgba(189, 233, 255, 1) 86.73%, rgba(152, 222, 255, 1) 96.71%, rgba(138, 217, 255, 1) 100%);
    padding: 10%;
    text-align: center;
}
h1,h2 {
    // text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px;

    // text-shadow: 0 1px 0 #ccc,
    // 0 2px 0 #c9c9c9,
    // 0 3px 0 #bbb,
    // 0 4px 0 #b9b9b9,
    // 0 5px 0 #aaa,
    // 0 6px 1px rgba(0,0,0,.1),
    // 0 0 5px rgba(0,0,0,.1),
    // 0 1px 3px rgba(0,0,0,.3),
    // 0 3px 5px rgba(0,0,0,.2),
    // 0 5px 10px rgba(0,0,0,.25),
    // 0 10px 10px rgba(0,0,0,.2),
    // 0 20px 20px rgba(0,0,0,.15);

}
h1 {
    font-size: 5em;
    font-weight: bold;
}
h2 {
    font-size: 2.5em;
}
