<div class="bread-crumb">
    <button mat-icon-button [routerLink]="['/user-manage']">
        <mat-icon>
            arrow_back</mat-icon>
    </button>
    <span [routerLink]="['/user-manage']" routerLinkActive="router-link-active">User Management</span>
    <span class="active">Change Password</span>
</div>
<div class="wrapper">
    <div class="form" *ngIf="user_data">
        <div class="title">
            Change password for user {{user_data.username}}
        </div>
        <div class="form-content" >
            <mat-form-field class="example-full-width">
                <input required matInput type="password" placeholder="New Password" [(ngModel)]="password" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input required type="password" matInput placeholder="New Password Confirm" [(ngModel)]="cpassword" autocomplete="off">
            </mat-form-field>
        </div>

        <div class="action">
            <button mat-raised-button (click)="save()">
                SAVE
            </button>
        </div>
    </div>
</div>