div.main-content {
    // padding: 15px;
}

.app-version {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 15px;
}
#notification {
    padding: 4%;
    border-radius: 45px;
    background-color: white;
    font-size: 1.7em;
    color: #474747;
    min-height: 500px;
    min-width: 500px;
    max-width: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
        margin-bottom: 20px;
    }

    .button-wrapper {
        margin-top: 40px;

        button {
            font-size: 0.7em;
            background: whitesmoke;
            margin: 15px;
        }
    }

    .loading {
        margin-top: 40px;

        .mat-progress-spinner circle, .mat-spinner circle {
            stroke: #2196F3;
        }
    }

    .mat-icon {
        font-size: 80px;
        width: 80px;
        height: 80px;
        margin-bottom: 40px;
        color: green;
    }
}
 

  .update-notify-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.33);
    z-index: 200;
  }


 