<div class="bread-crumb">
    <button mat-icon-button [routerLink]="['/dashboard','locker']">
        <mat-icon>
            arrow_back</mat-icon>
    </button>
    <span class="" [routerLink]="['/dashboard']">Dashboard</span>
    <span [routerLink]="['/dashboard','locker']">Locker dashboard</span>
    <span class="active">Add locker</span>
</div>
<div class="wrapper">
    <div class="form">
        <div class="title">
            <mat-icon>add_location</mat-icon>
            Add Locker Form
        </div>

        <div class="form-content">
            <mat-form-field class="example-full-width">
                <input required matInput placeholder="Locker title" [(ngModel)]="title" autocomplete="off">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Locker zone</mat-label>
                <mat-select required [(ngModel)]="selected_zone">
                    <mat-option *ngFor="let item of zones" [value]="item">
                        {{item.zone_title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input required matInput placeholder="Locker ids" [(ngModel)]="locker_ids" autocomplete="off">
            </mat-form-field>

            <mat-form-field>
                <input required matInput placeholder="Locker box" [(ngModel)]="locker_box" autocomplete="off">
            </mat-form-field>

            <mat-form-field>
                <mat-select required placeholder="Locker height" [(ngModel)]="isHigh">
                    <mat-option value="1">
                        High
                    </mat-option>
                    <mat-option value="0">
                        Low
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input disabled matInput placeholder="Locker size" [value]="selected_zone.locker_size"> 
            </mat-form-field>
        </div>

        <div class="action">
            <button mat-raised-button (click)="save()">
                SAVE
            </button>
        </div>

    </div>
</div>