/* You can add global styles to this file, and also import other style files */
@import './assets/css/reset.css';
@import './assets/css/styles.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #f9f9fc; }
.img-responsive {
    max-width: 100%;
    height: auto;
}

.mat-progress-spinner circle, .mat-spinner circle {
    // stroke: rgb(63, 188, 253);
    stroke: #3b9fff;
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    font-size: 20px !important;
}
.mat-snack-bar-container.error {
    color: red;
}
.mat-snack-bar-container {
    color: black;
    background: white;
}
.mat-simple-snackbar {
    font-size: 1.3em;
    justify-content: center !important;
}



.bread-crumb {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    // font-weight: 500;
    border-bottom: 1px solid #d2d2d2;
    font-size: 0.9em;
    color: #888;

    position: fixed;
    top: 60px;
    right: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.99);
    z-index: 1000;
    button {
        margin-right: 10px;
    }
    & > span {
        display: flex;
        height: 40px;
        position: relative;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;
        outline: none;
    }
    span.active {
        color: black;
    }
    span.active::before {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        bottom: -5px;
        content: "";
        display: block;
        height: 3px;
        left: 0;
        margin: 0;
        position: absolute;
        right: 0;
        background: #2ecd71;
    }
    // padding-bottom: 150px;
    // background-color: #0061f2;
    // background-image: linear-gradient(135deg,#0061f2 0,rgba(105,0,199,.8) 100%);
    // background-image: linear-gradient(135deg, #a5daf8 0, #0061f2 100%);
    // color: white;
    // font-size: 2em;
    // position: absolute;
    // top: 60px;
    // left: 0;
    // right: 0;
    // z-index: 1;
}