<div class="bread-crumb">
    <button mat-icon-button [routerLink]="['/dashboard','locker']">
        <mat-icon>
            arrow_back</mat-icon>
    </button>
    <span class="" [routerLink]="['/dashboard']">Dashboard</span>
    <span [routerLink]="['/dashboard','locker']">Locker dashboard</span>
    <span class="active">Add zone</span>
</div>
<div class="wrapper">
    <div class="form">
        <div class="title">
            <mat-icon>add_location</mat-icon>
            Add Zone Form
        </div>

        <div class="form-content">
            <mat-form-field class="example-full-width">
                <input required matInput placeholder="Zone title" [(ngModel)]="title" maxlength="1" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input required matInput placeholder="Locker size" [(ngModel)]="size" maxlength="2" autocomplete="off">
            </mat-form-field>

        </div>

        <div class="action">
            <button mat-raised-button (click)="save()">
                SAVE
            </button>
        </div>

    </div>
</div>